<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#D80000" />
    <meta name="description" content="Our restaurant will make you can't move on" />
    <meta property="og:title" content="WE SERVE THE TEST YOU LOVE" />
    <meta property="og:description" content="Our restaurant will make you can't move on" />
    <meta property="og:image" content="-" />
    <meta property="og:url" content="http://localhost:9000/#/detail/dwg2wt3is19kfw1e867" />

    <link rel="icon" href="./favicon.ico">
    <link rel="apple-touch-icon" href="/icons/favicon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Grily Restaurant</title>
</head>

<body>
    <skip-link></skip-link>
    <header id="appBar" class="app-bar">
        <app-bar></app-bar>
    </header>
    <hero-jumbotron></hero-jumbotron>
    <div class="loading hide-loading"></div>
    <main tabindex="0" id="mainContent">
    </main>

    <div id="footerTools">
        <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
        <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
    </div>
    <footer tabindex="0 " class="footer">

        <bottom-bar></bottom-bar>
    </footer>

    <script src="../scripts/index.js "></script>
</body>

</html>